agent-redshift-review/redshift-review-data/sm_definitions/SF_Level1/definition.json
{
  "Comment": "Single SQL Query Workflow",
  "StartAt": "GetSQLQueryDoc",
  "States": {
    "GetSQLQueryDoc": {
      "Type": "Task",
      "Parameters": {
        "Bucket.$": "$.S3BucketName",
        "Key.$": "$.Query.ScriptName"
      },
      "ResultPath": "$.sql_output",
      "ResultSelector": {
        "sql_output.$": "$.Body"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Next": "GetClusterCredentials",
      "HeartbeatSeconds": 10,
      "TimeoutSeconds": 300,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ErrorWriteCatcher",
          "ResultPath": "$.error.getsdlquerydoc"
        }
      ]
    },
    "ErrorWriteCatcher": {
      "Type": "Task",
      "Parameters": {
        "Body.$": "$.error",
        "Bucket.$": "$.S3BucketName",
        "Key.$": "$.Query.ErrorLocation"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Next": "review_query_failure"
    },
    "GetClusterCredentials": {
      "Type": "Task",
      "Parameters": {
        "ClusterIdentifier": "redshift-cluster-1",
        "DbUser": "awsuser"
      },
      "Resource": "arn:aws:states:::aws-sdk:redshift:getClusterCredentials",
      "Next": "ExecuteStatement",
      "InputPath": "$.sql_output.sql_output",
      "ResultPath": "$.auth",
      "TimeoutSeconds": 600,
      "HeartbeatSeconds": 30,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ErrorWriteCatcher",
          "ResultPath": "$.error.getclustercredentials"
        }
      ]
    },
    "ExecuteStatement": {
      "Type": "Task",
      "Parameters": {
        "ClusterIdentifier": "redshift-cluster-1",
        "Database": "sample_data_dev",
        "Sql.$": "$.sql_output.sql_output",
        "DbUser": "awsuser"
      },
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "Next": "WaitForCompletion",
      "ResultPath": "$.sql_output",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ErrorWriteCatcher",
          "ResultPath": "$.error.executestatement"
        }
      ],
      "TimeoutSeconds": 280,
      "HeartbeatSeconds": 10
    },
    "WaitForCompletion": {
      "Comment": "Wait before status check",
      "Type": "Wait",
      "Seconds": 20,
      "Next": "CheckStatus"
    },
    "CheckStatus": {
      "Comment": "Check Query Status",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "Id.$": "$.sql_output.Id"
      },
      "Next": "is_run_complete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ErrorWriteCatcher",
          "ResultPath": "$.error.checkstatus"
        }
      ]
    },
    "is_run_complete": {
      "Comment": "check if run_review_query step is complete",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FAILED",
          "Next": "ErrorWriteCatcher"
        },
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FINISHED",
          "Next": "ReadResult"
        }
      ],
      "Default": "WaitForCompletion"
    },
    "ReadResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:getStatementResult",
      "Parameters": {
        "Id.$": "$.sql_output.Id"
      },
      "ResultPath": "$.query_result",
      "Next": "SaveResult SUCCESS",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ErrorWriteCatcher",
          "ResultPath": "$.error.getstatementresult"
        }
      ]
    },
    "SaveResult SUCCESS": {
      "Type": "Task",
      "Parameters": {
        "Body.$": "$.query_result",
        "Bucket.$": "$.S3BucketName",
        "Key.$": "$.Query.OutputLocation"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Next": "review_query_success",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ErrorWriteCatcher",
          "ResultPath": "$.error.saveresult"
        }
      ],
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 10,
      "ResultPath": "$.complete_result"
    },
    "review_query_failure": {
      "Type": "Fail",
      "Cause": "Failure on Sales Data Pipeline",
      "Error": "Error"
    },
    "review_query_success": {
      "Type": "Succeed"
    }
  }
}